.policyNo{
    width: 100%;
    -webkit-appearance:none;
    height:50px;
    justify-content: center;
    font-size:larger;
}
.policyNo-cont{
    display: block;
    -webkit-appearance:none;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    width:50%;
    height:100%;
}

.policyNo1-Inputs,
.policyNo2-Inputs,
.policyNo3-Inputs,
.policyNo4-Inputs{
    background-color: transparent;
    font-size: medium;
    border: none;
    outline: none;
}

.error{
    color:rgb(250, 139, 139)
}

.policyNo1-Inputs{
    width:15%;
}
.policyNo2-Inputs{
    width:40%
}
.policyNo3-Inputs{
    width:15%
}
.policyNo4-Inputs{
    width: 10%;
}

.bi-geo-alt-fill,
.bi-camera-fill{
    color:dodgerblue;
    margin-top: 10px;
}

.locationData{
    width: 100%;
    height:50px;
    justify-content: center;
    -webkit-appearance:none;

}

.locationData-cont{
    display: flex;
    -webkit-appearance:none;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    height:100%;
    width:50%;
}

.locationData-Input{
    background-color: transparent;
    font-size: medium;
    border: none;
    outline: none;
    width:90%
}

.cameraData{
    width: 100%;
    height:50px;
    justify-content: center;
    -webkit-appearance:none;

}

.cameraData-cont{
    display: flex;
    -webkit-appearance:none;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    height:100%;
    width:50%;
}

.cameraData-Input{
    background-color: transparent;
    font-size: medium;
    border: none;
    outline: none;
    width:90%;
    content:'Camera';
}

